.homepage{
  display:flex;
  flex-direction:row;
  min-height:100%;
}
.main{
  display:flex;
  flex-direction: column;
  min-width:600px;
}
.nav{
  flex-grow:0.44;
  border-right:1px solid #e6ecf0;
  min-height: 100%;
}
.spacer{
  flex-grow:1;
  border-left:1px solid #e6ecf0;
  min-height: 100%;
}
