.tweet-editor{
  background-color:#fff;
  box-sizing: border-box;
  width:600px;
  display:flex;
  flex-direction:row;
  padding:9px 12px;
}
.profile-picture-container{
  margin-top:10px;
  margin-right:10px;
}

.profile-picture-container{
}

.profile-picture{
  width:48px;
  border-radius: 50%;
}
.tweet-editor-content{
  width:100%;
  display:flex;
  flex-direction: column;
}
.tweet-editor-text-field{
  background-color:#fff;
  border:none;
  resize:none;
  margin: 20px 7px 5px;
  height: 24px;
  font-size:18px;
  font-family:inherit;
  outline:none;
  word-break: break-all;
}
.tweet-editor-text-field:empty:before {
  content: attr(placeholder);
  opacity:0.5;
  display: block;
}
.tweet-editor-toolbar{
  padding-top: 10px;
  margin-right: 7px;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}
.tweet-btn{
  background-color:#1da1f2;
  transition: background-color 0.2s;
  border-radius: 9999px;
  border: none;
  outline: none;
  color:#fff;
  font-size:16px;
  font-weight:bold;
  height:40px;
  padding:0 16px;
  display:inline-flex;
  justify-content: center;
  align-items: center;
}
.tweet-btn:hover{
  background-color:rgb(26, 145, 218);
  cursor: pointer;
}
#posted-tweet-container{
  border-bottom: 1px solid #e6ecf0;
}
.close-btn{
  transition-property:background-color;
  transition-duration: 0.2s;
  background-color:#fff;
  color:#1da1f2;
  border:none;
  outline:none;
  font-size: 18px;
  border-radius:9999px;
  float:right;
}
.close-btn:hover{
  background-color: rgba(29, 161, 242, 0.1);
  cursor: pointer;
}
.close-btn-container{
  margin-bottom: -23px;
}
@media(max-width: 885px){
  .tweet-editor{
    width:auto;
  }
}
